<ion-view title="Register/Login">
    <ion-content>
        <div ng-show="firebaseUser">
            <p>Hello, {{ firebaseUser.displayName }}</p>
            <button class="button button-block button-assertive" ng-click="logout()">Sign Out</button>
        </div>
        <div ng-hide="firebaseUser">
            <p>Welcome, please sign in.</p>
            <button class="button button-block button-positive" ng-click="login()">Sign In With Google</button>
        </div>
        <div>
            <button class="button button-block button-positive" ng-click="backup()">Backup</button>
        </div>
        
    </ion-content>
</ion-view>
